/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
  ==========================================================================
  */ 

/*  
  --- FONTS ---
    Open Sans
    font-family: 'Open Sans', sans-serif; 

    Merriweather
    font-family: 'Merriweather', serif; 

    --- COLORS ---
    1. dark-yellow: #E4C061;

    2. dark gray: #444;

    3. taupe brown: #c8b9ab;

*/

/* ----- GLOBAL STYLES ------ */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
} 

img {
  width: 100%; /* images will take 100% of parent container */
}
  
figure {
  margin: 0; /* images will take 100% of parent container */
}
  
ul,
ol {
  list-style-type: none;
}

/* ------- CSS LAYOUT STYLES ------ */ 

.content-wrapper {
  width: 90%;
  margin: 55px 0;
  /* background: pink; */
}

/* !!!
  .CONTENT-WRAPPER 
    the first section after the header (#hero) and the section before the footer (#contact) have margin: 0px; to prevent space between header/hero as well as footer/contact
  !!!
*/ 

.hidden {
  display:none;
}

/* ------- FONT STYLES -------- */ 

h1 {
  font-family: 'Merriweather', serif;
  font-size: 3.75em;
  color: #f3f3f3;
  line-height: 0;
}

h2 /* section titles */ {
  font-family: 'Merriweather', serif;
  font-size: 2.2em;
  font-weight: 400;
  color: #f3f3f3;
  line-height: 1.4;
  letter-spacing: 0.8px;
}

h3 /* features */ {
  font-family: 'Merriweather', serif;
  font-size: 1.4em;
  letter-spacing: 0.8px;
  line-height: 1.4;
  color: #f3f3f3;
  margin: 0 0 8px 0;
  font-weight: 500;
}


h4 /* contact */ {
  font-family: 'Merriweather', serif;
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: 0.8px;
  margin-bottom: 5px;
}

h5 /* footer */ {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  font-weight: 400;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  line-height: 2;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.dark-text {
  color: #444;
}

.light-text {
  color: #f3f3f3;
}

a {
  color: #444;
  text-decoration: none;
}
  
address {
  font-style: normal;
}

button {
  background: #E4C061;
  border: none;
  border-radius: 5px;
  padding: 10px;

  font-family: 'Open Sans', sans-serif;
  font-size: 1.125em;
  text-align: center;
  letter-spacing: 0.2px;
}

/* ------- HEADER  -------- */ 
header {
  background: #c8b9ab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

header .content-wrapper {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin: 0px;
}

/* ------- HEADER ---------- */ 

header .header-divider {
  background: #000;
  width: 100%;
  height: 1px;
  /* margin: 10px 0 20px 0; */
}

header .content-wrapper {
  margin: 0px;
  padding: 0px;
}

header #header-logo {
  width: 100px;
}

/* ------- NAVBAR --------- */
nav {
  width: 60%;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap; /* nav-items float on one line */ 
  margin: 0;
}

nav .nav-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25em;
  letter-spacing: 0.8px;
  color: rgba(0, 0, 0, 0.5);
}

/* ------- FOOTER -------- */
footer {
  background: #c8b9ab;
  display: flex;
  justify-content: center;
  align-items:flex-end;
  padding-bottom: 12px;
}

footer .content-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  margin-bottom: 0;
}

footer p {
  font-size: 0.875em;
  font-weight: 600;
  text-transform: uppercase;
}

/* ------- HERO SECTION --------- */ 
#hero {
  /* height: 60vh; --> instead of fixed height using vh, use padding to create height */
  background: url("../img/bg-img.JPG") center no-repeat #c8b9ab;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  /* overflow-x: hidden; */
}

#hero .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  padding: 100px 0px;
}

#hero-overlay {
  background-color: rgba(0,0,0, 0.3);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#hero-btn {
  margin: 20px 0 0 0;
}

.hero-text {
  font-family: 'Open Sans', sans-serif;
  /* letter-spacing: 1.6; */
  font-size: 1em;
  font-weight: 400;
}

/* ------- ABOUT SECTION --------- */ 
#about {
  background: #c8b9ab;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#about-one {
  margin: 0 0 20px 0;
}

#about h2 {
  margin: 0 0 12px 0;
  text-align: center;
}

#about p {
  text-align: center;
}

/* ------- VIDEO SECTION --------- */ 
#video {
  background: #444;
  display: flex;
  justify-content: center;
}

#video .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#videoBtn {
  margin: 22px 0 0 0;
}

#video-btn-icon {
  color: #444;
}

#video h2 {
  margin: 0 0 12px 0;
}

#video p {
  text-align: center;
}

/* ------ VIDEO MODAL ------- */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* background:rgba(0,0,0, 0.3); */
}

.modal-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  background-color: #303030;
  
  margin: 5% auto; /* 15% from the top and centered */
  padding-bottom: 40px;
  width: 95%; /* Could be more or less, depending on screen size */
}

iframe {
  width: 95%;
}

/* The Close Button */
#closeBtn {
  display: flex;
  justify-content: flex-end;
  color: #aaa;
  float: right;
  font-size: 2.2em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ------- FEATURES SECTION --------- */ 
#features {
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

#features article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.features-items > article:nth-child(2){
  margin: 50px 0px;
}

.features-items > article:nth-child(3){
  margin: 0px 0px 50px 0px;
}

#features .features-icon{
  color: #E4C061;
  margin: 0 0 12px 0;
}

#features p {
  line-height: 1.4;
}

/* ------- CONTACT SECTION --------- */ 
#contact {
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

#contact .content-wrapper {
  margin-bottom: 0px; /*creates 0px of space btwn footer and contact, overrides .content-wrapper 30px margin top, only*/
}

#contact .address-container {
  background: #E4C061;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  
  margin: 35px 0px;
  padding: 15px 0px;
}

#email-container {
  margin: 20px 0px;
}

#contact-btn {
  margin: 22px 0 0 0;
}

#contact h2 {
  margin: 0 0 12px 0;
}

#contact address p {
  line-height: 1.2;
}
  
/* ==========================================================================
    Helper classes
========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
    display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
    visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
    content: " ";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */
  
/* Tablet Styles ==> 768px */

  @media (min-width: 768px) { 

    /* ------ UTILITIES ------- */ 
    .content-wrapper {
      width: 85%;
    }


    /* ------- HEADER --------- */
    header .content-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row wrap;
      width: 90%;
      margin: 0;
      /* padding: 35px 0px; */
    }

    header .logo-container {
      width: 50%;
    }

    header .header-divider {
      display: none;
    }

    /* ----------- NAVBAR ------------ */
    nav {
      width: 50%;
    
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-flow: row wrap;
    }

    nav ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    nav ul li {
      margin: 0 0 0 35px;
    }

    /* ------- FEATURES --------- */ 
    #features .features-items {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-flow: row wrap;
    }

    #features .content-wrapper {
      margin: 0px;
    }

    #features article {
      width: 40%;
      margin: 25px 0px;
    }

    .features-items > article:nth-child(2){
      margin: 0px;
    }


    /* ------- CONTACT --------- */ 

    #contact .contact-wrapper {
      padding: 0 0 50px 0;
    }

    #contact .contact-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: row-reverse;
    }

    #contact .input-container {
      display: flex;
      flex-flow: column;
      width: 45%;
    }

    #contact .address-container {
      min-width: 30%;
      margin: 0;
      padding: 25px;
    }

    #contact .input-container p {
      /* display: none; */
      text-align: left;
    }

    #contact h2 {
      display: flex;
      justify-content: 
      
    }

  }


/* Desktop Styles ==> 1200px */ 

    /* @media (min-width: 1200px) { } */ 
  
  
  
  
  
  
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }